@page
@model IndexModel
@{
    ViewData["Title"] = Model.Title;
    
}

<div class="d-flex flex-row flex-wrap justify-content-between align-items-center mb-1">

    <div>
        <h4>Students</h4>

        <form asp-page="./Index" method="get">

            <div class="form-actions no-color d-flex">

                <div class="input-group">
                    <input type="text" name="SearchString" placeholder="Search Names" value="@Model.CurrentFilter" />
                    <div class="input-group-append">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>
                <a asp-page="./Index" class="ml-2 btn btn-secondary">Clear</a>

            </div>
        </form>
    </div>

    <a class="btn btn-success" asp-page="Create">Create New</a>

</div>

<table class="table">
    <thead>

        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.Students[0].LastName)
                    @if (Model.NameSortArrow == "asc")
                    {
                        <i class="fas fa-arrow-up"></i>
                    }
                    else if (Model.NameSortArrow == "des")
                    {
                        <i class="fas fa-arrow-down"></i>
                    }
                    else
                    {
                        <i></i>
                    }
                </a>

            </th>

            <th>@Html.DisplayNameFor(model => model.Students[0].FirstMidName)</th>

            <th>

                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.Students[0].EnrollmentDate)
                    @if (Model.DateSortArrow == "asc")
                    {
                        <i class="fas fa-arrow-up"></i>
                    }
                    else if (Model.DateSortArrow == "des")
                    {
                        <i class="fas fa-arrow-down"></i>
                    }
                    else
                    {
                        <i></i>
                    }

                </a>
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>

                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.FirstMidName)</td>
                <td>@Html.DisplayFor(modelItem => item.EnrollmentDate)</td>
                <td class="text-right">

                    <div id="editDetailsDeleteGroup"
                         class="btn-group"
                         role="group"
                         aria-label="Edit-Retreive-Single-Delete">
                        <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.ID">Details</a>
                        <a class="btn btn-secondary" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
