@page
@model IndexModel
@using ContosoUniversity.Models.View
@{
    ViewData["Title"] = "Home page";
    List<Link> links = new NavLinks().Links;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["PageHeading"]</h1>
    <p>@ViewData["PageSubtitle"]</p>
</div>

<hr />

<div class="text-center">
    <h2>Contoso University</h2>
</div>

<div class="d-flex flex-row flex-wrap justify-content-center text-center mb-3">
    @{
        foreach (Link link in links)
        {
            <a class="btn btn-light mx-2" asp-page="@link.LinkHref">@link.LinkTitle</a>
        }
    }
</div>



<div class="row mb-auto">

    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="row no-gutters border mb-4 card box-shadow">
            <div class="col p-4 mb-4">
                <p class="card-text">
                    @ViewData["ProjectDesc"]
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-2"></div>

    <div class="col-md-4">
        <div class="row no-gutters border mb-4 card box-shadow">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    @ViewData["ProjectTutorial"]
                </p>
                <p>
                    <a href="@ViewData["ProjectTutorialLink"]"
                       class="stretched-link">
                        @ViewData["ProjectTutorialLinkCaption"]
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="row no-gutters border mb-4 card box-shadow">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    @ViewData["CompletedProject"]
                </p>
                <p>
                    <a href="@ViewData["CompletedProjectLink"]" class="stretched-link">@ViewData["CompletedProjectLinkCaption"]</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-2"></div>






</div>

<hr />

<div class="text-center"><small>By</small> Cliff Crerar</div>